{
  "extends": ["next", "prettier", "plugin:tailwind/recommended", "next/babel","next/core-web-vitals"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "warn",
    "no-var": "error"
  }
}
